:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  --DarkBlue: hsl(234, 12%, 34%);
  --GrayishBlue: hsl(229, 6%, 66%);
  --LightGray: hsl(0, 0%, 98%);
  --white: #ffffff;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--LightGray);
  font-family: "Poppins", sans-serif;
}
.wrapper {
  margin: 10px;
}

header {
  margin: 50px auto;
  max-width: 375px;
  text-align: center;
}

h1 {
  font-weight: 200;
  color: var(--GrayishBlue);
  font-size: 1.7em;
}

h1 span {
  font-weight: 600;
  color: var(--DarkBlue);
  font-size: 1em;
}

header p {
  color: var(--GrayishBlue);
  text-align: inherit;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1140px;
}

.box {
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  width: 350px;
  cursor: pointer;
}
.box:hover {
  transform: scale(1.05);
}

.box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
}

.box-red::after {
  background-color: var(--Red);
}

.box-cyan::after {
  background-color: var(--Cyan);
}

.box-orange::after {
  background-color: var(--Orange);
}

.box-blue::after {
  background-color: var(--Blue);
}

.box-push {
  transform: translateY(0%);
}

.box h2 {
  margin: 0;
  color: var(--DarkBlue);
}

.box p {
  font-size: 14px;
  margin: 15px 0 40px;
}

.box img {
  display: block;
  margin-left: auto;
}

footer {
  text-align: center;
}

@media (min-width: 775px) {
  header {
    max-width: 450px;
  }
  header p {
    font-size: 14px;
  }
  h1 {
    font-size: 2em;
  }
  h1 span {
    font-size: 1em;
  }
  .box {
    margin: 15px;
  }

  .box-push {
    transform: translateY(50%);
  }
}
